{% extends 'core/base.html' %}

{% block title %}{ item.name }{% endblock %}

{% block content %}
<div class="grid grid-cols-5 gap-6 max-w-4xl mx-auto">
  <div class="col-span-3">
    <img src="{{ item.image.url }}" class="w-full max-w-md mx-auto">
  </div>

  <div class="col-span-2 p-4 bg-blue-200 text-center">
    <h1 class="mb-4 text-xl font-semibold">{{ item.name }}</h1>
    <p class="text-base text-black"><strong>Suggested Price: </strong>{{ item.price }}</p>

    {% if item.description %}
        <p class="text-base text-gray-700 text-left mt-8 px-4">
            {{ item.description }}
        </p>
    {% endif %}

        <div class="flex items-center space-x-2">
          <label class="text-gray-700 px-4 py-8"><strong>Quantity:</strong></label>
          <input type="number" class="w-20 border border-gray-300 px-2 py-1 rounded" value="1" min="1" />
        </div>

    <a href="#" class="inline-block mt-12 px-6 py-3 text-lg font-semibold bg-blue-500 text-white rounded-xl hover:bg-blue-300 w-64 text-center">Add to Quotation</a>
    <a href="{% url 'item:browse' %}" class="inline-block mt-12 px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-300 w-64 text-center">Return to Store Page</a>
  </div>
</div>
{% endblock %}
